/************************ general!*******************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 90%;
}


/**********************header*****************************/


.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;


  
}
.logo img{
    max-width: 150px;
    display: flex;
    justify-content: flex-start;



}

nav{
    /**display: flex;
    justify-content: flex-end;**/
   
}


ul{
    list-style: none;
    /**display: flex;
    justify-content: space-between;**/
    margin-right: 200px;

 
}

li{
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 44px;
    font-size: 20px;
    font-weight: 900;
    
}

   
.head{
    position: relative;
}


.banner img{
    width: 100%;
}

.strip{
    background-color: rgba(45, 128, 45, 0.308);
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;


}


span{
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

button{
    border-radius: 10px;
    background-color: rgb(118, 185, 0);
    color: white;
    width: 100px;
    height: 45px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;

}


/*************************main**************************/

main{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(118, 185, 0);
    
}



/**.icon-nvidia img{
    max-width: 20px;
    padding: 2px 0;
    border: solid 1px black;
    border-radius: 5px;
    margin-right: 15px;
}**/



.icon-nvidia img{
    width: 20px;
    height: 18px;
    border: 1px solid black;
    border-radius: 3px;
}

.icon-nvidia{
    margin: 25px 0 5px 0;
}

h2{
    padding-left: 25px;
}


.title{
    display: inline;
    margin-left: 1px;
}

.main-article{
    padding-top: 20px;
    padding-bottom: 150px;
}

/***h2{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 1000;
}**/



/***********************aside*****************/


aside{
    background-color: rgb(118, 185, 0);
    color: white;
    margin-top: 20px;
    padding: 30px;
    display: block;
}



h3{
    display: flex;
    justify-content: center;
    padding: 0;
}


.black-nvidia img{
    min-width: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.about{
    margin-top: 10px;
    font-size: 15px;
}

.icons{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    margin-bottom: 1px;
    font-style: 30px;
}

/**************************footer******************/

section{
    display: flex;
}

.formulaire{
    display: block;
}