/************************ general!*******************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 90%;
}


/**********************header*****************************/


.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;


  
}
.logo img{
    max-width: 150px;
    display: flex;
    justify-content: flex-start;



}



ul{
    list-style: none;
    margin-right: 200px;

 
}

li{
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 44px;
    font-size: 20px;
    font-weight: 900;
    
}

   
.head{
    position: relative;
}


.banner img{
    width: 100%;
}

.strip{
    background-color: rgba(45, 128, 45, 0.308);
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;


}


span{
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

button{
    border-radius: 10px;
    background-color: rgb(118, 185, 0);
    color: white;
    width: 100px;
    height: 45px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;

}

a{
    text-decoration: none;
    color: inherit;
}

/*************************main**************************/

main{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(118, 185, 0);
    /**position: relative;**/

    
}



.icon-nvidia img{
    width: 30px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
        
    }




.icon-nvidia{
    margin: 35px 0 5px 0;
    display: flex;
    justify-content: flex-start;
}

h2{
    padding-left: 25px;
}



.main-article{
    padding-top: 10px;
    padding-bottom: 150px;
    font-size: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 1000;
}



/***********************aside*****************/


aside{
    background-color: rgb(118, 185, 0);
    color: white;
    margin-top: 20px;
    padding: 15px;
    display: block;
    width: 3500px;
}



h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: x-large;

}


.black-nvidia img{
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.about{
    margin-top: 30px;
    font-size: 20px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
    font-size: 35px;

}

.triangle{
    position: absolute;
    left: 900px;
    top: 658px;
    font-size: 40px;
}

/**************************footer******************/

footer {
    width: 100%;
    display : flex;
    justify-content: space-between;

}

.formulaire, .galerie, .partenaires{
    margin: 90px 0 0 0 ;
    padding-bottom: 200px;

}


.images img{
    width: 150px;
    height: 120px;
}

h4{
    font-size: large;
    padding-bottom: 25px;

}

input{
    display: flex;
    height: 55px;
    width: 300px;
    margin-bottom: 10px;
    
}

[type= text]{
    font-size: 20px;
    padding: 9px;

}

.inscrire {
    display: inline-flex;
    
}

[type=submit]{
    background-color: rgb(118, 185, 0);
    width: 200px;
    color: white;
    border:none;
    font-size: 25px;
    margin-left: 15px;
    display: inline-flex;
    justify-content: center;
    

}

.images img{
    margin-right: 15px;
}




/**
.myImg img{
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover{
    opacity: 0.7;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modalImage{
    margin: auto;
    display: block;
    width: 80%;
    height: 60%;
    max-width: 700px;
}


#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modalImage, #caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom{
    from { transform:scale(0)}
    to {transform: scale(1);}
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1F1F1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;

}

.close:hover,
.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
**/


#myImg{
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover{
    opacity: 0.7;
}

#modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.9)  ;
}

#myImg1{
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    /* max-width: 700px; */
    margin-top: 200px;
}
#caption{
    margin: auto;
    display: block;
    width: 100%;
    height: 10px;
    font-size: 30px;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 40px 0;
    
}

#myImg1, #caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0);}
    text {transform: scale(1);}
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transform: 0.3s;
}

.close:hover,
.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}